#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

/* Style for each campground card */
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Flex container for campgrounds */
.campground-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px; /* Add padding to maintain spacing on sides */
}

/* Style for each column (adjust for responsiveness) */
.col-md-4 {
    flex: 0 0 calc(33.33% - 20px); /* 33.33% width for each column with some spacing */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
